/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workout-form{
  background: #ffffff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  
}

.workout-form input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  font-size: 1em;
}
.workout-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
}
.welcome{
  width: 40%;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position:relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}  
.welcome a{
  text-decoration: none;
  color: #fff;
  background: var(--primary);
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  display:inline-block;
  margin: 20px 20px;
  font-size: 0.9em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  
}

.welcome h1{
  text-align: center;
  margin: 0 0 10px 0;
}

.workout-form input{
  width: 100%;
}
.workout-form button:hover {
  background: #e0e0e0;
}

.workout-form label {
  font-size: 0.9em;
  color: #555;

}
.workout-form h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-form .error {
  color: var(--error);
  font-size: 0.8em;
  margin: 0 0 10px 0;
}
.workout-details span:hover {
  background: #e7195a;
  color: #fff;
}
.workout-details:hover{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
} 
.workout-form:hover{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.home .container {
  background-color:#ffffff; 
  height: 150px;
  width: 150px;
  padding: 20px;
  justify-content: space-between;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  
 }

.home a{
  text-decoration: none;
  color: #fff;
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  width: 50%;
  margin: 20px 0;
  font-size: 0.9em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  margin-top: auto;
}
.nav-buttons a {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin: 10px 10px;
  
}
form.register, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
.dashboard{
  display: inline-flex;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

}