/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header div{
  background: #fff;
  max-width: 98%;
}

header .container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

header span {
  margin-right: 30px;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.home-pages {
  margin: 0 auto;
  display: flex;
  gap: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 100%;
}

.home-pages .dashboard {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 100px;
  justify-content: center;
  font-size: 25px;
  background-color: #ffff;
  border-radius: 10px;
  padding: 20px;
}

.home-pages .container {
  background: linear-gradient(to bottom right, rgb(74, 144, 226), #7044ff);
  height: 80%;
  width: 80%;
  padding: 20px;
  justify-content: space-between;
  border-radius: 10px;
  flex-direction: column;
  display:flex;
}

.home-pages a {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 100px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin: 10px 10px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.home-pages a:hover {
  opacity: 0.8;
  
}

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #333;
}

.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workout-form {
  background: #ffffff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

}

.workout-form input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  font-size: 1em;
}

.workout-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
}

.welcome {
  width: 40%;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.welcome a {
  text-decoration: none;
  color: #fff;
  background: var(--primary);
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  display: inline-block;
  margin: 20px 20px;
  font-size: 0.9em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;

}

.welcome h1 {
  text-align: center;
  margin: 0 0 10px 0;
}

.workout-form input {
  width: 100%;
}

.workout-form button:hover {
  background: #e0e0e0;
}

.workout-form label {
  font-size: 0.9em;
  color: #555;

}

.workout-form h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-form .error {
  color: var(--error);
  font-size: 0.8em;
  margin: 0 0 10px 0;
}

.workout-details span:hover {
  background: #e7195a;
  color: #fff;
}

.workout-details:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.workout-form:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.home .container {
  background-color: #ffffff;
  height: 150px;
  width: 150px;
  padding: 20px;
  justify-content: space-between;
  border-radius: 10px;
  flex-direction: column;
  display: flex;

}

.home a {
  text-decoration: none;
  color: #fff;
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  width: 50%;
  margin: 20px 0;
  font-size: 0.9em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  margin-top: auto;
}

.nav-buttons a {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin: 10px 10px;
  transition: all 0.2s ease-in-out;
}

.nav-buttons a:hover {
  background: var(--primary);
  color: #fff;
}

form.register,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.dashboard {
  display: inline-flex;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

}

div.lab-list {
  display: inline-flex;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0;
  padding: 0.5rem;
  margin: 0rem 0rem 0rem 38rem;
  gap: 5px;
  justify-content: center;
  align-items: baseline;
}

.lab-list button {
  background: var(--primary);
  border: 0;
  color: #fff;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}



.workout-details button {
  background: var(--primary);
  border: 0;
  color: #fff;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.workout-details div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.workout-details select {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  appearance: none;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.workout-details select:focus {
  outline: none;
  border-color: #777;
}

.workout-details select::-ms-expand {
  display: none;
}

.workout-details select option {
  font-weight: normal;
}

.workout-details p {
  font-size: 0.9rem;
  line-height: 1;
  color: #333;
  margin: 0 0 1em;
  display: flex;
}

input {
  outline: none;
}

.info h2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align:right;
  gap: 20px;
}

.info span {
  text-align: left;
}

.equipment-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.2em;
  color: var(--primary);
}

.lab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.2em;
  color: var(--primary);
}

.value {
  color: #555;
  font-weight: 600;
}

.lab-details h2{
  align-items: center;
}

.report-page {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.report-page h1 {
  color: var(--primary);
  margin-bottom: 20px;
  margin-top: -12px;
  font-weight: bold;
  font-size: 40px;
}

.report-page button {
  padding: 10px 20px;
  display: block;
  margin: 20px auto;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 24px;
}

.report-page button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.select-bar {
  margin-bottom: 50px;
  outline: none;
}
.workout-form select{
  
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  border: 1px solid #ddd;
  width: 100%;
  padding: 8px;
  font-size: 1em;
}

img{
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  margin-left: 45%;
  
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  animation: fade-in 1s;
}

h1 {
  color: #333;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: slide-up 0.5s;
}

.overview {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.overview-item {
  text-align: center;
  margin: 0 20px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  animation: fade-in 1s;
}

h2 {
  color: #555;
  margin-bottom: 10px;
}

h3 {
  color: #888;
}
.search-container{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.2em;
  color: var(--primary);
  width: 96%;
}
.reset-btn {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.reset-btn:hover {
  background-color: #333;
}
.search-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  
}

.search-field:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.alert-info{
  background-color: #ffff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1em;
  text-align: left;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-up {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
